

.toast-success{
    background-color: rgba(198, 255, 236, 0.929);
    border: 3px solid rgb(0, 153, 0);
    font-weight: 600;
    color: rgb(19, 70, 0);
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}

.toast-error{
    background-color: rgba(255, 242, 242, 0.867);
    border: 3px solid rgb(223, 11, 11);
    font-weight: 600;
    color: rgb(70, 0, 0);
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}

.toast-warning{
    background-color: rgba(255, 254, 242, 0.867);
    border: 3px solid rgb(223, 177, 11);
    font-weight: 600;
    color: rgb(70, 61, 0);
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}