
.Headerbar{
    background-color: rgb(15, 22, 29);
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    padding-top: 10px;
    border-bottom: 3px solid  rgb(29, 210, 255);
    &.hidden {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0);
  }
    @media (min-width: 1024px){
        height: 55px;
        .bar-topic{
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            .bar{
            color: white;
            margin: 0 15px;
            position: relative;
            height: 35px;
            padding: 5px 10px;
            border-radius: 5px;
            user-select: none;
            display: inline-block; 
            will-change: transform; 
            transform-origin: center;
            cursor: pointer;
            transition: transform 0.2s ease, border 0.1s ease;
            &:hover{
                transform: scale(1.1);
                border: 1px solid rgb(29, 210, 255);
            }

            .icon-A01{
                font-size: 23px;
                margin-right: 5px;
            }
            }
        }

        .Acount-box{
            position: absolute;
            right: 20px;
            .Acount{
                color: white;
                user-select: none;
                padding: 2px;
                transition: transform 0.2s ease;
                border-radius: 5px;
                cursor: pointer; 
                &:hover{
                    transform: scale(1.1);
                border: 1px solid rgb(29, 210, 255);
                }
                span{
                    padding: 10px;
                    font-weight: 500;

                }
                .icon{
                    font-size: 25px;
                }
            }
            .login-btn{
                
                .signinIcon{
                    color: white;
                    font-size: 26px;
                    user-select: none;
                    cursor: pointer;

                    &:hover{
                        animation: shake 1s infinite ease-in-out;
                    }
                   
                }

                @keyframes shake {
                0% { transform: translateX(0) scale(1); }
                20% { transform: translateX(-2px); }
                40% { transform: translateX(2px) scale(1.1); }
                60% { transform: translateX(-2px); }
                80% { transform: translateX(2px); }
                100% { transform: translateX(0) scale(1); }
                }
            }
        }
        
    }
    @media ((max-width: 1023px) and (min-width: 740px)){
            height: 50px;
            .bar-topic{
                text-align: center;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                .bar{
                color: white;
                margin: 0 15px;
                height: 30px;
                padding: 0 10px;
                border-radius: 5px;
                user-select: none;
                display: inline-block; 
                will-change: transform; 
                transform-origin: center;
                cursor: pointer;
                transition: transform 0.2s ease, border 0.1s ease;

                p{
                    padding-top: 2px;
                }
                .icon-A01{
                    font-size: 23px;
                    padding-top: 2px;
                    margin-right: 10px;
                }
                &:hover{
                    transform: scale(1.1);
                    border: 1px solid rgb(29, 210, 255);
                }
                }
            }
            .Acount-box{
                position: absolute;
                right: 20px;
                .Acount{
                    color: rgb(255, 0, 0);
                    user-select: none;
                    padding: 2px;
                    transition: transform 0.2s ease;
                    border-radius: 5px;
                    cursor: pointer; 
                    &:hover{
                        transform: scale(1.1);
                    border: 1px solid rgb(29, 210, 255);
                    }
                    span{
                        padding: 10px;
                        font-weight: 500;
                    }
                    .icon{
                        font-size: 25px;
                    }
                }
                .login-btn{
                    
                    .signinIcon{
                        color: white;
                        font-size: 26px;
                        user-select: none;
                        cursor: pointer;

                        &:hover{
                            animation: shake 1s infinite ease-in-out;
                        }
                    
                    }

                    @keyframes shake {
                    0% { transform: translateX(0) scale(1); }
                    20% { transform: translateX(-2px); }
                    40% { transform: translateX(2px) scale(1.1); }
                    60% { transform: translateX(-2px); }
                    80% { transform: translateX(2px); }
                    100% { transform: translateX(0) scale(1); }
                    }
                }
            }
    }
    @media (max-width: 739px){
            height: 50px;
            .bar-topic{
                text-align: center;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                .bar{
                color: white;
                margin: 0 15px;
                height: 30px;
                padding: 0 10px;
                border-radius: 5px;
                user-select: none;
                display: inline-block; 
                will-change: transform; 
                transform-origin: center;
                cursor: pointer;
                transition: transform 0.2s ease, border 0.1s ease;

                p{
                    padding-top: 2px;
                }
                .icon-A01{
                    font-size: 23px;
                    padding-top: 2px;
                    margin-right: 10px;
                }
                &:hover{
                    transform: scale(1.1);
                    border: 1px solid rgb(29, 210, 255);
                }
                }
            }
            .Acount-box{
                position: absolute;
                right: 20px;
                .Acount{
                    color: rgb(0, 238, 255);
                    user-select: none;
                    padding: 2px;
                    transition: transform 0.2s ease;
                    border-radius: 5px;
                    cursor: pointer; 
                    &:hover{
                        transform: scale(1.1);
                    border: 1px solid rgb(29, 210, 255);
                    }
                    span{
                        padding: 10px;
                        font-weight: 500;
                        display: none;
                    }
                    .icon{
                        font-size: 35px;
                    }
                }
                .login-btn{
                    
                    .signinIcon{
                        color: white;
                        font-size: 26px;
                        user-select: none;
                        cursor: pointer;

                        &:hover{
                            animation: shake 1s infinite ease-in-out;
                        }
                    
                    }

                    @keyframes shake {
                    0% { transform: translateX(0) scale(1); }
                    20% { transform: translateX(-2px); }
                    40% { transform: translateX(2px) scale(1.1); }
                    60% { transform: translateX(-2px); }
                    80% { transform: translateX(2px); }
                    100% { transform: translateX(0) scale(1); }
                    }
                }
            }
    }
    .bar-topic{

    }
}